{{ define "main" }}
  {{ .Content }}

  <ul>
    <li>Created by: {{ .Params.authors.main }}</li>
    <li>Additional authors: {{ .Params.authors.others }}</li>
    <li>Created on: {{ .Params.dates.created }}</li>
    <li>Published on: {{ .Params.dates.published }}</li>
    <li>Last updated: {{ .Params.dates.updated }}</li>
    <li>Short description: {{ .Params.descriptions.short }}</li>
    <li>Long description: {{ .Params.descriptions.long }}</li>
    <li>Aliases: {{ .Params.identifications.alias }}</li>
    <li>KSID: {{ .Params.identifications.ksid }}</li>
    <li>Name: {{ .Params.identifications.name }}</li>
  </ul>
{{ end }}
