{{ .EnableAllLanguages }}
{{ range $firstLevel, $_ := site.Data.items }}
  {{ $page := dict
    "kind" "page"
    "params" .
    "path" $firstLevel
    "title" ($firstLevel | humanize)
    "menus" "main"
  }}
  {{ $.AddPage $page }}
{{ end }}
